<h1>To Do</h1>

<p>
  Here are all your tasks:
</p>

<ul>
  <% @tasks.each() do |task| %>
  <li><%= task.description() %></li>
  <% end %>
</ul>

<p>
  Create a new task:
</p>

<form action="/tasks" method="post">
  <div class="form-group">
    <label for="description">Task Description</label>
    <input type="text" name="description" id="description" class="form-control">
    <br>
    <button id="submit_tasks" type="submit" class="btn-primary">Add Task</button>
  </div>
</form>
