<h1>Create a new task list!</h1>


<form action="/lists" method="post">
  <div class="form-group">
    <label for="name">New task list</label>
    <input type="text" id="name" name="name" class="form-control">
  </div>
  <button type="submit" class="btn-primary" name="list_submit">Send</button>
</form>
